@import url('jquery-ui-1.8.11.custom.css');

/*---------------------------------------------------------------------*/
@-webkit-keyframes flash-selection {
    0% { background: none; }
    50% { background: #CCE6FF; }
    100% { background: none; }
}

@-webkit-keyframes fadeout {
    0% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

@-webkit-keyframes flash {
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

/*---------------------------------------------------------------------*/


body {
    font-size: 11px;
    background-color: #2990BF;
    background-size: 100%;
}

.info-message { margin-top: 10px; }
.info-message .ui-widget-content { padding: 0px 10px; }

.draggable-handle { cursor: move; }

.instanceImage { background: url('computer.png'); background-size: 100%; }

#toolbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
    background: black;
    font-size: 1.5em;
    color: white;
    opacity: 0.7;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
}

button.refresh-ec2-table {
    float: right;
    background: url('refresh.png') no-repeat;
    border: none;
    width: 64px;
    height: 54px;
}

p.refresh-ec2-table-status {
    margin: 0px;
}

p.refresh-ec2-table-status.success {
    color: #2990BF;
}

p.refresh-ec2-table-status.error {
    color: red;
}

p.refresh-ec2-table-status.refresh {
    color: #000;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

tr.deleted {
    background: #eee;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in;
}


tr.added {
    -webkit-animation-name: flash-selection;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease-in;
}