@import url('jquery-ui-1.8.11.custom.css');

#body { background-image: url('cloud.jpg'); background-size: cover; }
body { background-color: #2990BF; }

.info-message { margin-top: 10px; }
.info-message .ui-widget-content { padding: 0px 10px; }

.draggable-handle { cursor: move; }